alembic==1.15.2
asyncpg==0.30.0
psycopg==3.1.10
sqlmodel==0.0.24

fastapi==0.115.11
uvicorn==0.34.0
pydantic-settings==2.8.1
pydantic==2.11.1
pydantic[email]
python-multipart==0.0.20

pyjwt==2.10.1
pyjwt[crypto]
bcrypt==4.3.0